name: Publish Thunder Mod

# Run when a new release is... released
on: 
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      # Use checkout to publish the files in your repo
      - uses: actions/checkout@v3
      - run: |
         ls
         wget https://github.com/thunderstore-io/thunderstore-cli/releases/download/0.1.6/tcli-0.1.6-linux-x64.tar.gz
         tar -xf tcli-0.1.6-linux-x64.tar.gz
         mv ./tcli-0.1.6-linux-x64/tcli QuickPing/tcli
         cd QuickPing
         ./tcli init
         ./tcli publish --file QuickPing.zip --token ${{ secrets.THUNDERSTORE_TOKEN }} --config-path ./thunderstore.toml
