name: Publish Mod

# Run when a new release is... released
on: 
  release:
    types: [published]
  push:
    branches:
      - 1.5.0

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      # Use checkout to publish the files in your repo
      - uses: actions/checkout@v3
      - run: |
         ls
         wget https://github.com/thunderstore-io/thunderstore-cli/releases/download/0.1.6/tcli-0.1.6-linux-x64.tar.gz
         tar -xvf tcli-0.1.6-linux-x64.tar.gz
         mv ./tcli-0.1.6-linux-x64/tcli QuickPing/tcli
         cd QuickPing
         ./tcli publish --file QuickPing.zip --token ${{ secrets.DEV_THUNDERSTORE_TOKEN }} --repository https://thunderstore.dev
